@media all and (max-width: 1330px) and (min-width: 1180px) {

    header.boxed .header-margin{
      width:1000px;
    }
  
    .content .text-intro{
      width:1000px;
    }
  
    .footer-margin{
      width:1000px;
    }
  
    .content .text-intro h1{
      width:60%;
    }
    .content .text-intro p {
      font-size: 12px;
      
  }
  
    #full{
      width:1000px;
    }
  
    .prev-next{
      max-width:1000px;
    }
  
  
    /*
    **************************
    Portfolio Grid
    **************************
    */
  
    #portfolio-sidebar{
  
      width: 710px !important;
      padding-right: 320px;
    }
  
    .portfolio-grid{
  
      width:1030px;
  
    }
  
    .grid-hover, li.grid-item, li.grid-item img{
      width:312px;
    }
  
  .grid-hover p {
  
      bottom: 30px;
  
  }
  
  
  }
  
  
  @media all and (max-width: 1179px) and (min-width: 1024px) {
  
  
    header.boxed .header-margin{
      width:800px;
    }
  
    .content .text-intro{
      width:800px;
    }
  
    .footer-margin{
      width:800px;
    }
  
    .content .text-intro h1 {
      width:60%;
    }
    
    .content .text-intro p {
      float: left; 
  margin: 0px 0 0 0;	
    }
  
    #full{
      width:800px;
    }
  
    .prev-next{
      max-width:800px;
    }
  
  
    /*
    **************************
    Portfolio Grid
    **************************
    */
  
    #portfolio-sidebar{
  
      width: 580px !important;
      padding-right: 250px;
    }
  
    .portfolio-grid{
  
      width:830px;
  
    }
  
    .grid-hover, li.grid-item, li.grid-item img{
      width:246px;
    }
    .grid-hover p {
      bottom: 30px;
      left: 10px;
      right: 10px;
      letter-spacing: 1px;
      line-height: 15px;
  }
  .grid-hover h2{
    font-size:18px;
    top:20px;
    left:10px;
    position:absolute;
    text-transform:uppercase;
    color:#000000;
    letter-spacing:1px;
    font-weight:900;
    line-height:30px;
  }
  .content .text-intro h1, .content .text-intro h2 {
      font-size: 28px;
  
      line-height: 40px;
  }
  
  }
  
  
  @media (max-width: 1023px) and (min-width: 769px) {
  
  .grid-hover h2{
    font-size:18px;
    top:30px;
    
  }
  .grid-hover p {
  
      bottom: 30px;
  
  }
  
    header.boxed .header-margin{
      width:600px;
    }
  
    .content .text-intro{
      width:600px;
    }
  
    .footer-margin{
      width:600px;
    }
  
  .content .text-intro h2,
    .content .text-intro h1{
      width:100%;
       font-size: 28px;
      line-height: 40px;
    }
    .content .text-intro p {
      float: left; 
  margin: 0px 0 0 0;	
  width: 100%;
    }
  
    #full{
      width:600px;
    }
  
    .prev-next{
      max-width:600px;
    }
    
    .home-sidebar{
      display:none;
    }
    
    ul.header-nav{
      width:50%;
    
    }
    
    header li > a{
      padding-right: 15px;
      padding-left: 15px;
    }
   
  
  
    /*
    **************************
    Portfolio Grid
    **************************
    */
  
    #portfolio-sidebar{
  
      width:630px !important;
      padding-right: 0;
    }
  
    .portfolio-grid{
      width:630px;
    }
  
    .grid-hover, li.grid-item, li.grid-item img{
      width:282px;
    }
    
  
  }
  
  
  
  @media all and (max-width: 768px) and (min-width: 481px) {
  
  
    header.boxed .header-margin{
      width:400px;
    }
  
    .content .text-intro{
      width:400px;
    }
  
    .footer-margin{
      width:400px;
    }
  
    .content .text-intro h1{
      width:100% !important;
    }
    .content .text-intro p {
      float: left; 
  margin: 0px 0 0 0;	
  width: 100%;
    }
  
    #full{
      width:400px;
      display:block !important;
    }
  
    .menu-index{
      display:block !important;
    }
  
    .prev-next{
      max-width:400px;
    }
    
    .home-sidebar{
      display:none;
    }
    
    ul.header-nav{
      width:50%;
    
    }
    
    header li > a{
      padding-right: 15px;
      padding-left: 15px;
    }
   
    .one-column, .two-column{
      width:100%;
    }
    
    .contact-one, .contact-two, .contact-three{
      width:100%;
    }
    .two-column{
     margin-top: 15px;
    }
    
    
    textarea{
      height:250px;
    }
  
    input.button-submit{
      margin-bottom:100px;
    }
    
    .logo, .menu-index{
      display:block;
    }
  
    header.boxed{
      display:none !important;
    }  
    
    #footer-left{text-align:center;}
  
    /*
    **************************
    Portfolio Grid
    **************************
    */
  
    #portfolio-sidebar{
  
      width:430px !important;
      padding-right: 0;
    }
  
    .portfolio-grid{
      width:430px;
    }
  
    .grid-hover, li.grid-item, li.grid-item img{
      width:400px;
    }
    .gkPriceTable dl {
      margin: 8px auto !important;
      width: 100% !important;
  }
  .gkPriceTable {
      padding: 0;
  }
  
  }
  
  
  @media all and (max-width: 480px) and (min-width: 320px) {
  
    header.boxed .header-margin{
      width:280px;
    }
  
    .content .text-intro{
      width:280px;
    }
  
    .footer-margin{
      width:280px;
    }
    
    .footer-margin .copyright{line-height:40px;}
  
    .content .text-intro h1{
      width:100% !important;
    }
    .content .text-intro p {
      float: left; 
  margin: 0px 0 0 0;	
  width: 100%;
    }
  
    #full{
      width:280px;
      display:block !important;
    }
    
    .menu-index{
      display:block !important;
    }
  
    .prev-next{
      max-width:280px;
    }
    
    .home-sidebar{
      display:none;
    }
   
    .one-column, .two-column{
      width:100%;
    }
    
    .contact-one, .contact-two, .contact-three{
      width:100%;
    }
    
    textarea{
      height:250px;
    }
    
    input, textarea{
      padding:0;
    }
  
    input.button-submit{
      margin-bottom:100px;
    }
    
    header.boxed{
      display:none !important;
    }  
    
    #footer-left{text-align:center;}
    
    .content .text-intro h1,
    .content .text-intro h2{
      font-size:33px; 
      line-height:50px;
    }
  
    /*
    **************************
    Portfolio Grid
    **************************
    */
  
    #portfolio-sidebar{
  
      width:310px !important;
      padding-right: 0;
    }
  
    .portfolio-grid{
      width:310px;
    }
  
    .grid-hover, li.grid-item, li.grid-item img{
      width:280px;
    }
    .gkPriceTable dl {
      margin: 8px auto !important;
      width: 100% !important;
  }
      .content .text-intro h1, .content .text-intro h2 {
      font-size: 23px;
      line-height: 30px;
  }
  .gkPriceTable {
      padding: 0;
  }
  
  .gkPriceTable dd {
      font-size: 12px;
      padding: 2px 0;
  
  }
  .gkPriceTable dt small {
  font-size: 8px;
      line-height: 15px;
  }
  .grid-hover h2 {
      font-size: 13px;
      line-height: 30px;
      top: 30px;
  }
  .grid-hover p {
      bottom: 30px;
  }
  .width100 {
      width: auto;
  }
  }